@inject IJSRuntime _js

<!-- start header -->
<header id="start-screen" class="start-screen--style-1">
    <div id="vegas-slider" data-dots="true">
        <div class="vegas-control">
            <span id="vegas-control__prev" class="vegas-control__btn">Prev</span>
            <span id="vegas-control__next" class="vegas-control__btn">Next</span>
        </div>
    </div>

    <div id="start-screen_content-container">
        <div class="start-screen__content start-screen__content-first">
            <div class="v-align">
                <div class="v-middle">
                    <div class="container">
                        <div class="row justify-content-center text-center">
                            <div class="col-12 col-xl-10">
                                <p class="title">Agricom</p>

                                <p class="subtitle">
                                    agro company
                                </p>

                                <p>
                                    <a class="custom-btn big primary" href="#">Discover</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="start-screen__content start-screen__content-second">
            <div class="v-align">
                <div class="v-middle">
                    <div class="container">
                        <div class="row justify-content-md-center text-center">
                            <div class="col-12 col-lg-10 col-xl-8">
                                <p class="title">Fruits</p>

                                <p>
                                    Evulates vast a real proven works discount secure care. Market invigorate a awesome handcrafted bigger comes newer recommended lifetime. Odor to yummy high racy bonus soaking mouthwatering. First superior full-bodied drink. Like outstanding odor economical deal clinically
                                </p>

                                <p>
                                    <a class="custom-btn big primary" href="#">find out</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="start-screen__content start-screen__content-third">
            <div class="v-align">
                <div class="v-middle">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-md-8">
                                <p class="title">Fresh ideas</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</header>
<!-- end header -->
@code
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            ToggleSlider();
        }
    }

    protected async void ToggleSlider()
    {
        await _js.InvokeVoidAsync("vegasSlider");
    }
}