<footer id="footer" class="footer--style-2 footer--dark">
			<div class="footer__inner">
				<div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <div class="footer__item">
                                <a class="site-logo" href="/">AGRICOM</a>

                                <div class="footer__text">

                                    <p>
                                        BioWorld brand was launched in 2019 with the primary aim to deliver sustainability 
                                        to everyday disposable products. For 4 years we have been supplying to some of 
                                        the largest conglomerates of the world through our job works. We have come to 
                                        believe that our customers need better products and better services.
                                    </p>
                                </div>

                                <p class="footer__copy">© 2019, Wesfo-Eco. All rights reserved.</p>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-4">
                            <div class="footer__item">
                                <h3 class="footer__title">Contacts</h3>

                                <div class="company-contacts">
                                    <address>
                                        <p>
                                            <i class="fontello-location"></i>
                                            Survey No. 237/4, Post : Jalida - 363621, Ta. Wankaner, Dist. Morbi (Gujarat).
                                        </p>

                                        <p>
                                            <i class="fontello-phone-call"></i>
                                            +91-91154 91111
                                        </p>

                                        <p>
                                            <i class="fontello-mail"></i>
                                            <a href="mailto:wesfoecoproducts@gmail.com">wesfoecoproducts@gmail.com</a>
                                        </p>
                                    </address>

                                    <div class="social-btns">
                                        <div class="social-btns__inner">
                                            <a class="fontello-facebook" href="#" target="_blank"></a>
                                            <a class="fontello-youtube" href="#" target="_blank"></a>
                                            <a class="fontello-instagram" href="#" target="_blank"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 col-lg-4">
                            <div class="footer__item">
                                <h3 class="footer__title">Get in touch</h3>

                                <form class="footer__form f1 js-contact-form" action="#">
                                    <label class="input-wrp">
                                        <i class="fontello-user"></i>
                                        <input class="textfield" type="text" placeholder="You name" name="name">
                                    </label>

                                    <label class="input-wrp">
                                        <i class="fontello-mail"></i>
                                        <input class="textfield" type="text" placeholder="E-mail" name="email">
                                    </label>

                                    <label class="input-wrp">
                                        <i class="fontello-comment"></i>
                                        <textarea class="textfield" placeholder="Message" name="message"></textarea>
                                    </label>

                                    <div class="btn-wrp">
                                        <button class="custom-btn primary long" type="submit" role="button">Send a message</button>
                                    </div>

                                    <div class="form__note"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <LoginDisplay></LoginDisplay>
				</div>
			</div>
		</footer>

@code {

}
