@page "/Navbar"
@inject NavigationManager NavigationManager

<!-- start top bar -->
<div id="top-bar" class="top-bar--style-1">
    <div class="container">
        <a id="top-bar__logo" class="site-logo" href="index.html">AGRICOM</a>

        <a id="top-bar__navigation-toggler" href="javascript:void(0);"><span></span></a>

        <nav id="top-bar__navigation" role="navigation">
            <ul>
                <li class="current">
                    <a href="javascript:void(0);">Home</a>
                    
                </li>
                <li>
                    <a href="javascript:void(0);">Products</a>

                    
                </li>
                <li>
                    <a href="" onclick="@NavigateToAboutUs">About Us</a>
                   
                </li>
                <li><a href="" onclick="@MethodToTriggerUrl">Contacts Us</a></li>
                <li class="li-btn"><a class="custom-btn primary" href="#spy-get-in-touch">Get in touch</a></li>
            </ul>
        </nav>
    </div>
</div>
<!-- end top bar -->
@code {
   
    void MethodToTriggerUrl()
    {
        NavigationManager.NavigateTo("/Contactus");

       
    }
    void NavigateToAboutUs()
    {
        NavigationManager.NavigateTo("/Aboutus");
    }

}
