@page "/AllProducts"
@inject IProductRepository ProductRepository
<header class="intro  align-items-center" style="background-image: url('/images/bg_9 (1).jpg');">

    <div class="pattern" style="opacity: 0.15;"></div>

    <div class="container">
        <div class="intro__text">
            <p class="intro__subtitle">major</p>
            <h1 class="intro__title">Products</h1>
        </div>
    </div>

</header>
@* <section class="section"> *@
@*     <div class="container"> *@
@*         <div class="products"> *@
@*             <div class="products__inner"> *@
@*                 @if (ProductsList.Any()) *@
@*                 { *@
@*                     @foreach (var prod in ProductsList) *@
@*                     { *@
@*                         <div class="row no-gutters align-items-md-center"> *@
@*                             <!-- start item --> *@
@*                             <div class="col-md-6"> *@
@*                                 <div class="product__item product__item--text"> *@
@*                                     <i class="product__item__ico product__item__ico--1"></i> *@
@* *@
@*                                     <h3 class="product__item__title"> *@
@*                                         <a href="#">@prod.Name</a> *@
@*                                     </h3> *@
@* *@
@*                                     <p> *@
@*                                         @prod.Description *@
@*                                     </p> *@
@*                                 </div> *@
@*                             </div> *@
@*                             <!-- end item --> *@
@*                             <!-- start item --> *@
@*                             <div class="col-md-6"> *@
@*                                 <div class="product__item product__item--image"> *@
@*                                     <img class="img-fluid" src="@prod.ImageUrl" alt="product"> *@
@*                                 </div> *@
@*                             </div> *@
@*                             <!-- end item --> *@
@*                         </div> *@
@*                     } *@
@*                 } *@
@*                 else *@
@*                 { *@
@*                     if (IsLoading) *@
@*                     { *@
@*                         //loading gif *@
@*                         <div class="text-center"> *@
@*                             Loading... *@
@*                         </div> *@
@*                     } *@
@*                     else *@
@*                     { *@
@*                         //no records *@
@*                         <p>No products found.</p> *@
@*                     } *@
@*                 } *@
@* *@
@*             </div> *@
@*         </div> *@
@*     </div> *@
@* </section> *@
<section class="section">
    <div class="container">
        <ul id="gallery-set">
            <li>
                <a class="selected" data-cat="*" href="#">All</a>
            </li>
            <li>
                <a data-cat="animals" href="#">Animals</a>
            </li>
            <li>
                <a data-cat="crop" href="#">Crop</a>
            </li>
            <li>
                <a data-cat="fruits" href="#">Fruits</a>
            </li>
            <li>
                <a data-cat="vegatables" href="#">Vegatables</a>
            </li>
        </ul>
        <div class="gallery gallery--style-1">
            <div class="gallery__inner">
                <div class="row row-no-gutter js-isotope" data-isotope-options="{ &quot;itemSelector&quot;: &quot;.js-isotope__item&quot;, &quot;transitionDuration&quot;: &quot;0.8s&quot;, &quot;percentPosition&quot;: &quot;true&quot;}" style="position: relative; height: 1176.44px;">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 js-isotope__item fruits" style="position: absolute; left: 0%; top: 0px;">
                        <div class="gallery__item">
                            <div class="gallery__item__inner">
                                <figure>
                                    <img width="1" height="1" src="https://f8g8b9p5.rocketcdn.me/themes/agricom/wp-content/themes/nt-agricom/images/blank.gif" style="background-image: url(https://f8g8b9p5.rocketcdn.me/themes/agricom/wp-content/uploads/2017/02/9-2-510x510.jpg);" alt="Testy Holiday" data-lazy-src="https://f8g8b9p5.rocketcdn.me/themes/agricom/wp-content/themes/nt-agricom/images/blank.gif" data-ll-status="loaded" class="entered lazyloaded">
                                    <noscript>
                                        <img width="1" height="1" src="https://f8g8b9p5.rocketcdn.me/themes/agricom/wp-content/themes/nt-agricom/images/blank.gif" style="background-image: url(https://f8g8b9p5.rocketcdn.me/themes/agricom/wp-content/uploads/2017/02/9-2-510x510.jpg);" alt="Testy Holiday">
                                    </noscript>
                                    <a title="Testy Holiday" class="gallery__item__description" href="https://f8g8b9p5.rocketcdn.me/themes/agricom/wp-content/uploads/2017/02/9-2.jpg" data-gallery="gall">
                                        <span class="gallery__item__title">Testy Holiday</span><span class="gallery__item__subtitle">Fruits </span>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 js-isotope__item vegatables" style="position: absolute; left: 50%; top: 0px;">
                        <div class="gallery__item">
                            <div class="gallery__item__inner">
                                <figure>
                                    <img width="1" height="1" src="https://f8g8b9p5.rocketcdn.me/themes/agricom/wp-content/themes/nt-agricom/images/blank.gif" style="background-image: url(https://f8g8b9p5.rocketcdn.me/themes/agricom/wp-content/uploads/2017/02/14-510x510.jpg);" alt="Smell Species" data-lazy-src="https://f8g8b9p5.rocketcdn.me/themes/agricom/wp-content/themes/nt-agricom/images/blank.gif" data-ll-status="loaded" class="entered lazyloaded">
                                    <noscript>
                                        <img width="1" height="1" src="https://f8g8b9p5.rocketcdn.me/themes/agricom/wp-content/themes/nt-agricom/images/blank.gif" style="background-image: url(https://f8g8b9p5.rocketcdn.me/themes/agricom/wp-content/uploads/2017/02/14-510x510.jpg);" alt="Smell Species">
                                    </noscript>
                                    <a title="Smell Species" class="gallery__item__description" href="https://f8g8b9p5.rocketcdn.me/themes/agricom/wp-content/uploads/2017/02/14.jpg" data-gallery="gall">
                                        <span class="gallery__item__title">Smell Species</span><span class="gallery__item__subtitle">Vegatables </span>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 js-isotope__item crop" style="position: absolute; left: 0%; top: 294px;">
                        <div class="gallery__item">
                            <div class="gallery__item__inner">
                                <figure>
                                    <img width="1" height="1" src="https://f8g8b9p5.rocketcdn.me/themes/agricom/wp-content/themes/nt-agricom/images/blank.gif" style="background-image: url(https://f8g8b9p5.rocketcdn.me/themes/agricom/wp-content/uploads/2017/02/11-510x510.jpg);" alt="Barley" data-lazy-src="https://f8g8b9p5.rocketcdn.me/themes/agricom/wp-content/themes/nt-agricom/images/blank.gif" data-ll-status="loaded" class="entered lazyloaded">
                                    <noscript>
                                        <img width="1" height="1" src="https://f8g8b9p5.rocketcdn.me/themes/agricom/wp-content/themes/nt-agricom/images/blank.gif" style="background-image: url(https://f8g8b9p5.rocketcdn.me/themes/agricom/wp-content/uploads/2017/02/11-510x510.jpg);" alt="Barley">
                                    </noscript>
                                    <a title="Barley" class="gallery__item__description" href="https://f8g8b9p5.rocketcdn.me/themes/agricom/wp-content/uploads/2017/02/11.jpg" data-gallery="gall">
                                        <span class="gallery__item__title">Barley</span><span class="gallery__item__subtitle">Crop </span>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 js-isotope__item crop" style="position: absolute; left: 50%; top: 294px;">
                        <div class="gallery__item">
                            <div class="gallery__item__inner">
                                <figure>
                                    <img width="1" height="1" src="https://f8g8b9p5.rocketcdn.me/themes/agricom/wp-content/themes/nt-agricom/images/blank.gif" style="background-image: url(https://f8g8b9p5.rocketcdn.me/themes/agricom/wp-content/uploads/2017/02/1-8-510x510.jpg);" alt="Vegatables Colage" data-lazy-src="https://f8g8b9p5.rocketcdn.me/themes/agricom/wp-content/themes/nt-agricom/images/blank.gif" data-ll-status="loaded" class="entered lazyloaded">
                                    <noscript>
                                        <img width="1" height="1" src="https://f8g8b9p5.rocketcdn.me/themes/agricom/wp-content/themes/nt-agricom/images/blank.gif" style="background-image: url(https://f8g8b9p5.rocketcdn.me/themes/agricom/wp-content/uploads/2017/02/1-8-510x510.jpg);" alt="Vegatables Colage">
                                    </noscript>
                                    <a title="Vegatables Colage" class="gallery__item__description" href="https://f8g8b9p5.rocketcdn.me/themes/agricom/wp-content/uploads/2017/02/1-8.jpg" data-gallery="gall">
                                        <span class="gallery__item__title">Vegatables Colage</span><span class="gallery__item__subtitle">Crop </span>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 js-isotope__item vegatables" style="position: absolute; left: 0%; top: 588px;">
                        <div class="gallery__item">
                            <div class="gallery__item__inner">
                                <figure>
                                    <img width="1" height="1" src="https://f8g8b9p5.rocketcdn.me/themes/agricom/wp-content/themes/nt-agricom/images/blank.gif" style="background-image: url(https://f8g8b9p5.rocketcdn.me/themes/agricom/wp-content/uploads/2017/02/4-9-510x510.jpg);" alt="Tasty Species" data-lazy-src="https://f8g8b9p5.rocketcdn.me/themes/agricom/wp-content/themes/nt-agricom/images/blank.gif" data-ll-status="loaded" class="entered lazyloaded">
                                    <noscript>
                                        <img width="1" height="1" src="https://f8g8b9p5.rocketcdn.me/themes/agricom/wp-content/themes/nt-agricom/images/blank.gif" style="background-image: url(https://f8g8b9p5.rocketcdn.me/themes/agricom/wp-content/uploads/2017/02/4-9-510x510.jpg);" alt="Tasty Species">
                                    </noscript>
                                    <a title="Tasty Species" class="gallery__item__description" href="https://f8g8b9p5.rocketcdn.me/themes/agricom/wp-content/uploads/2017/02/4-9.jpg" data-gallery="gall">
                                        <span class="gallery__item__title">Tasty Species</span><span class="gallery__item__subtitle">Vegatables </span>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 js-isotope__item fruits" style="position: absolute; left: 50%; top: 588px;">
                        <div class="gallery__item">
                            <div class="gallery__item__inner">
                                <figure>
                                    <img width="1" height="1" src="https://f8g8b9p5.rocketcdn.me/themes/agricom/wp-content/themes/nt-agricom/images/blank.gif" style="background-image: url(https://f8g8b9p5.rocketcdn.me/themes/agricom/wp-content/uploads/2017/02/3-6-510x510.jpg);" alt="Bannana Life" data-lazy-src="https://f8g8b9p5.rocketcdn.me/themes/agricom/wp-content/themes/nt-agricom/images/blank.gif" data-ll-status="loaded" class="entered lazyloaded">
                                    <noscript>
                                        <img width="1" height="1" src="https://f8g8b9p5.rocketcdn.me/themes/agricom/wp-content/themes/nt-agricom/images/blank.gif" style="background-image: url(https://f8g8b9p5.rocketcdn.me/themes/agricom/wp-content/uploads/2017/02/3-6-510x510.jpg);" alt="Bannana Life">
                                    </noscript>
                                    <a title="Bannana Life" class="gallery__item__description" href="https://f8g8b9p5.rocketcdn.me/themes/agricom/wp-content/uploads/2017/02/3-6.jpg" data-gallery="gall">
                                        <span class="gallery__item__title">Bannana Life</span><span class="gallery__item__subtitle">Fruits </span>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 js-isotope__item animals" style="position: absolute; left: 0%; top: 882px;">
                        <div class="gallery__item">
                            <div class="gallery__item__inner">
                                <figure>
                                    <img width="1" height="1" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%201%201'%3E%3C/svg%3E" style="background-image: url(https://f8g8b9p5.rocketcdn.me/themes/agricom/wp-content/uploads/2017/02/4-6-510x510.jpg);" alt="Beautiful Fruits" data-lazy-src="https://f8g8b9p5.rocketcdn.me/themes/agricom/wp-content/themes/nt-agricom/images/blank.gif">
                                    <noscript>
                                        <img width="1" height="1" src="https://f8g8b9p5.rocketcdn.me/themes/agricom/wp-content/themes/nt-agricom/images/blank.gif" style="background-image: url(https://f8g8b9p5.rocketcdn.me/themes/agricom/wp-content/uploads/2017/02/4-6-510x510.jpg);" alt="Beautiful Fruits">
                                    </noscript>
                                    <a title="Beautiful Fruits" class="gallery__item__description" href="https://f8g8b9p5.rocketcdn.me/themes/agricom/wp-content/uploads/2017/02/4-6.jpg" data-gallery="gall">
                                        <span class="gallery__item__title">Beautiful Fruits</span><span class="gallery__item__subtitle">Animals </span>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 js-isotope__item crop" style="position: absolute; left: 50%; top: 882px;">
                        <div class="gallery__item">
                            <div class="gallery__item__inner">
                                <figure>
                                    <img width="1" height="1" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%201%201'%3E%3C/svg%3E" style="background-image: url(https://f8g8b9p5.rocketcdn.me/themes/agricom/wp-content/uploads/2017/02/5-5-510x510.jpg);" alt="Perfect a Pineapple" data-lazy-src="https://f8g8b9p5.rocketcdn.me/themes/agricom/wp-content/themes/nt-agricom/images/blank.gif">
                                    <noscript>
                                        <img width="1" height="1" src="https://f8g8b9p5.rocketcdn.me/themes/agricom/wp-content/themes/nt-agricom/images/blank.gif" style="background-image: url(https://f8g8b9p5.rocketcdn.me/themes/agricom/wp-content/uploads/2017/02/5-5-510x510.jpg);" alt="Perfect a Pineapple">
                                    </noscript>
                                    <a title="Perfect a Pineapple" class="gallery__item__description" href="https://f8g8b9p5.rocketcdn.me/themes/agricom/wp-content/uploads/2017/02/5-5.jpg" data-gallery="gall">
                                        <span class="gallery__item__title">Perfect a Pineapple</span><span class="gallery__item__subtitle">Crop </span>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section section--no-pt">
    <div class="container">
        <div class="section-heading section-heading--center">
            <h2 class="title">OUR PRODUCT FEATURES</h2>
        </div>

        <div class="counters counters--style-1">
            <div class="counters__inner">
                <div class="row justify-content-center">
                    <!-- star item -->
                    <div class="col-sm-6 col-md-3">
                        <div class="counter__item">
                            <iframe src="https://embed.lottiefiles.com/animation/78037"></iframe>

                            <p class="counter__item__heading  js-count animate">
                                No Plastic -
                                The Green Choice
                            </p>

                            <p class="counter__item__title">
                                Bio-World products are made
                                from 100% plant material such
                                as sugarcane and bamboo
                                waste, which does not contain
                                any toxic material and it is also
                                oil and water resistance.
                            </p>
                        </div>
                    </div>
                    <!-- end item -->
                    <!-- star item -->
                    <div class="col-sm-6 col-md-3">
                        <div class="counter__item">
                            <iframe src="https://embed.lottiefiles.com/animation/3139"></iframe>

                            <p class="counter__item__heading  js-count animate">
                                Microwave Safe
                            </p>

                            <p class="counter__item__title">
                                Bio-World products are
                                microwave safe which means
                                it can be used in microwave or
                                in oven between temperature
                                0 0
                                -20 C to +140 C.
                            </p>
                        </div>
                    </div>
                    <!-- end item -->
                    <!-- star item -->
                    <div class="col-sm-6 col-md-3">
                        <div class="counter__item">
                            <iframe src="https://embed.lottiefiles.com/animation/92519"></iframe>

                            <p class="counter__item__heading  js-count animate">Trust</p>

                            <p class="counter__item__title">
                                At Bio-World every product is
                                accounted for on specs
                                in piece and in packaging.
                                This is done to ensure we never
                                fail shout on our commitment.
                            </p>
                        </div>
                    </div>
                    <!-- end item -->
                    <!-- star item -->
                    <div class="col-sm-6 col-md-3">
                        <div class="counter__item">
                            <i class="counter__item__ico counter__item__ico--4"></i>

                            <p class="counter__item__heading  js-count animate">
                                Best Alternative for
                                Plastic
                            </p>

                            <p class="counter__item__title">
                                Bio-World products are biodegradable
                                that work great for all occasions! Ideal
                                for banquets, barbeques, parties, and
                                more. Everyday products you need, at
                                prices you want.
                            </p>
                        </div>
                    </div>
                    <!-- end item -->
                    <!-- star item -->
                    <div class="col-sm-6 col-md-3">
                        <div class="counter__item">
                            <iframe src="https://embed.lottiefiles.com/animation/15175"></iframe>

                            <p class="counter__item__heading  js-count animate">
                                Biodegradable &
                                Compostable
                            </p>

                            <p class="counter__item__title">
                                Bio-World products are manufactured
                                from FDA registered raw materials.
                                All products are made from
                                renewable resources. All products are
                                BPA, PFAS and chlorine
                                chemical free.

                            </p>
                        </div>
                    </div>
                    <!-- end item -->
                    <!-- star item -->
                    <div class="col-sm-6 col-md-3">
                        <div class="counter__item">
                            <iframe src="https://embed.lottiefiles.com/animation/137079" class="w-50"></iframe>

                            <p class="counter__item__heading  js-count animate">
                                Heavy Duty
                            </p>

                            <p class="counter__item__title">
                                Bio-World products are designed to
                                be lightweight and durable.
                                Ergonomic design of our product
                                feel more comfortable and grippier
                                while holding in hands, and we
                                make it thicker, so it does not break
                                easily in takeaway or delivery.


                            </p>
                        </div>
                    </div>
                    <!-- end item -->
                </div>
            </div>
        </div>
    </div>
</section>


@code {
    private IEnumerable<ProductDTO> ProductsList { get; set; } = new List<ProductDTO>();
    public bool IsLoading { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadProducts();
        }
    }

    private async Task LoadProducts()
    {
        IsLoading = true;
        StateHasChanged();
        ProductsList = await ProductRepository.GetAll();
        IsLoading = false;
        StateHasChanged();
    }

}