@page "/Contact-us"

<header class="intro align-items-center" style="background-image: url('/images/bg_9 (1).jpg');" >

    <div class="container">
        <div class="intro__text">
            <p class="intro__subtitle">Bioworld</p>
            <h1 class="intro__title">Contacts</h1>
        </div>
    </div>
    
</header>
<main role="main">
    <!-- start section -->
    <section class="section">
        <div class="container">
            <div class="contact-address">
                <address class="contact-address__inner">
                    <div class="row justify-content-lg-around">
                        <!-- start item -->
                        <div class="col-md-4 col-lg-3">
                            <div class="contact__item">
                                <i class="contact__item__ico fontello-location"></i>

                                <h4 class="contact__item__title">Adress</h4>

                                <p>
                                    Survey No. 237/4,
                                    <br>
                                    Post : Jalida - 363621,
                                    <br>
                                    Ta. Wankaner, Dist. Morbi (Gujarat).
                                </p>
                            </div>
                        </div>
                        <!-- end item -->
                        <!-- start item -->
                        <div class="col-md-4 col-lg-3">
                            <div class="contact__item">
                                <i class="contact__item__ico fontello-phone-call"></i>

                                <h4 class="contact__item__title">Phone</h4>

                                <p>
                                    +91-91154 91111
                                </p>
                            </div>
                        </div>
                        <!-- end item -->
                        <!-- start item -->
                        <div class="col-md-4 col-lg-3">
                            <div class="contact__item">
                                <i class="contact__item__ico fontello-mail"></i>

                                <h4 class="contact__item__title">Email</h4>

                                <p>
                                    <a href="mailto:wesfoecoproducts@gmail.com">wesfoecoproducts@gmail.com</a>
                                </p>
                            </div>
                        </div>
                        <!-- end item -->
                    </div>
                </address>
            </div>
        </div>
    </section>
    <!-- end section -->
    <!-- start section -->
    <!-- start section -->
    <section class="section section--no-pt">
        <div class="container">
            <h4 class="h2">Send Message</h4>

            <form class="js-contact-form" action="#">
                <div class="row">
                    <div class="col-md">
                        <label class="input-wrp">
                            <input class="textfield" type="text" placeholder="You name" name="name">
                        </label>
                    </div>

                    <div class="col-md">
                        <label class="input-wrp">
                            <input class="textfield" type="text" placeholder="E-mail" name="email">
                        </label>
                    </div>
                </div>

                <label class="input-wrp">
                    <textarea class="textfield" placeholder="Message" name="message"></textarea>
                </label>

                <button class="custom-btn primary" type="submit" role="button">Send</button>

                <div class="form__note"></div>
            </form>
        </div>
    </section>
    <!-- end section -->
</main>
@code {

}
